---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y년 %-m월 %-d일" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        · <span class="p-author" itemprop="author">{{ page.author }}</span>
      {%- endif -%}
    </p>
  </header>

  {%- include toc.html -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- comment -%}
    business 태그가 있는 글엔 소개(기둥) 페이지로 브랜드 앵커 내부링크를 자동으로 붙인다.
    기둥페이지가 내부링크 신호를 받게 해 상호 검색 랭킹을 강화한다(2026-07-24 추가).
  {%- endcomment -%}
  {%- if page.business -%}
    {%- if page.business == "hyugeso" -%}
      {%- assign biz_url = "/about-hyugeso/" -%}{%- assign biz_label = "해오름휴게소(기계해오름식당) 안내 보기" -%}
    {%- elsif page.business == "camping" -%}
      {%- assign biz_url = "/about-camping/" -%}{%- assign biz_label = "포항서숲캠핑장 안내 보기" -%}
    {%- endif -%}
    {%- if biz_url -%}
  <p class="post-store-link">📍 <a href="{{ biz_url | relative_url }}">{{ biz_label }}</a></p>
    {%- endif -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{%- include schema.html -%}
